{% extends 'Tester/testerdash.html' %}

{%block testerdash%}
<div class="dash-content">
    <table class="content-item">
        <tr class="thead">
            <th> Campaign Name</th>
            <th>Tasks</th>
            <th>Requirements</th>
            <th>Guidelines</th>
            <th> Created by</th>
        </tr>
        {%for test in tests %}
        {%if test.isApproved%}
        <tr class="tbody">
            <td data-label="Campaign Name">{{test.title}}</td>
            <td data-label="Status">{{test.mention_tasks}}</td>
            <td data-label="Product Owner">{{test.requirements}}</td>
            <td>{{test.additional_guidelines}}</td>
            <td>{{test.created_by.name}}</td>
        </tr>
        {%endif%}
       

        {%endfor%}
       
    </table>
</div>


{%endblock testerdash%}