.progress .num3 {
    background-color: #F2F2F2;
    padding: 5px 13px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    margin-left: 20px;
    transition: background-color 0.5s ease;
}

.forgotpass .first-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 5rem auto;
}

.forgotpass .forgotpass-lbl,
.forgotpass .forgotpass-inp {
    margin: 0 0 20px 0;
}

.forgotpass .forgotpass-lbl {
    font-weight: 400;
}

.forgotpass .forgotpass-inp {
    border-radius: 8px;
    padding: 0 10px;
    width: 300px;
    height: 40px;
    font-size: larger;
}

.forgotpass .forgotpass-btn {
    margin: 10px 0 0 40px;
    background: #513CD2;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: medium;
    display: flex;
    border: 0;
}

.forgotpass .forgotpass-btn img {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 0.2rem;
    left: 0.4rem;
}

.forgotpass .second-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 5rem auto;
    display: none;
}

.forgotpass .third-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 5rem auto;
    display: none;
}

@media screen and (max-width: 500px) {

    .row {
        display: none;
    }
}