{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="http://fonts.cdnfonts.com/css/samsung-sharp-sans" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Profile</title>


</head>
<a href="{% url 'client-edit-profile' customer.id%}">Edit</a>
<!-- <button type="button" class="edit" data-toggle="modal" data-target="#exampleModal">
    Delete
</button> -->

<a href="#delete" type="button" class="deletelink" >
    Delete
</a>

<body>
    <div class="wrapper">
        <div class="profilebox">
            <button class="edit"><i class="far fa-edit"></i>Edit</button>

            <button type="button" class="edit" data-toggle="modal" data-target="#exampleModal">
                Delete
            </button>

            <img class="profilepic" img src="{% static 'images/profilepic.jpg' %}" alt="profile_image"></img>

            <h2 class="name">{{customer.name}}</h2>
            <h4 class="contact">Contact info: <span class="number">{{customer.phone}}</span></h4>
            <h4 class="contact">Email: <span class="number">{{customer.email}}</span></h4>
        </div>

        <!-- Button trigger modal -->


        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete account?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your account?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="/client/delete-account/{{customer.id}}" type="button"
                            class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div id="delete" class="deletemodal">
            <div class="delete-content">
                <div class="delete-header">
                    <h5>Delete account</h5>

                </div>
                <div>
                    Do you want to delete your account?
                </div>

                <div>
                    <button>Cancel</button>
                    <a href="/client/delete-account/{{customer.id}}">Delete</a>
                </div>

            </div>

        </div> -->

        <div id="delete" class="overlay" >
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <h3>Delete?</h3>
                    
                    <a href="/client/delete-account/{{customer.id}}">Delete</a>
                    <button><a href="#">Cancel</a></button>
                </div>
            </div>
        </div>

    

        <div class="wrapper-two">

            <div class="about">
                <h2 class="topic">ABOUT ME</h2>
                <p class="aboutdes">
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Ex illum ipsum iusto consequatur. Totam, dolorum fugiat,
                    debitis facere illo nostrum nesciunt maxime, deserunt enim
                    voluptatibus modi natus velit voluptatum. Dicta eritatis
                    exercitationem ut quos a placeat obcaecati? Architecto illum!
                    Amet consectetur adipisicing elit. Veritatis exercitationem ut
                    quos a placeat obcaecati? Architecto illum, atque delectus nemo
                    dolorem inventore ab facilis? Dolor placeat vel delectus ipsam
                    ullam.
                </p>
            </div>



            <div class="dash-content">
                <h2 class="producttop">MY PRODUCTS</h2>
                <table class="content-item">
                    <tr class="tbody">
                        <td data-label="productimg"><img src="{% static 'images/profilepic.jpg' %}"></td>
                        <td data-label="campaignname">Hello Pets</td>
                        <td data-label="editing"><button>Edit</button> <button>Delete</button></td>

                    </tr>
                    <tr class="tbody">
                        <td data-label="productimg"><img src="{% static 'images/profilepic.jpg' %}"></td>
                        <td data-label="campaignname">Hello Pets</td>
                        <td data-label="editing"><button class="edit">Edit</button> <button
                                class="delete">Delete</button></td>

                    </tr>
                </table>
            </div>
        </div>

    </div>

    {% if message in messages%}

    {{message}}
    {% endif%}
   
    <script>
        ".deletelink".click(function(){

           $('#delete').show();
        });
    
    </script>


</body>

</html>