{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forgot password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/addprod.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="topnav" id="myTopnav">
        <img src="{% static 'images/logo.png' %}" alt="Test MY UXLogo" class="logo">
        <ul class="nav-menu">
            <li class="nav-item">
                <a herf="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
            </li>
            <li class="logout nav-item">
                <a href="#" class="nav-link">Log Out</a>
            </li>
        </ul>
        <div class="dropdown">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/330px-Image_created_with_a_mobile_phone.png"
                class="profimg" onclick="profFunction()">
            <div id="profDrop" class="profdrop-content">
                <a href="#">Log out</a>
                <a href="#">Dashboard</a>
            </div>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div class="container">
        <div class="progress">
            <h2>Forgot Password</h2>
            <div class="row">
                <p class="num1">1</p>
                <p class="steps one">Enter Email</p>
                <span class="line"></span>
                <p class="num2">2</p>
                <p class="steps two">Check Email</p>
                <span class="line line1"></span>
                <p class="num3">3</p>
                <p class="steps three">Reset Password</p>
            </div>
        </div>
        <div class="forgotpass">
            <!-- <div class="first-page">
                <label class="forgotpass-lbl">Enter your email address:</label>
                <input class="forgotpass-inp" placeholder="e.g.john@email.com" id="email-inp">
                <button class="forgotpass-btn" onclick="first_page()">Proceed to Next Step <img
                        src="{% static 'images/arrow 4.png' %}"></button>
            </div> -->

            {% block enteremail%}
            {% endblock enteremail%}

            <div class="second-page">
                <label class="forgotpass-lbl">Go to Email</label>
                <!-- <input class="forgotpass-inp" id="pin-inp"> -->
                <a onclick="second_page()" target="_blank" href="https://gmail.com"><button class="forgotpass-btn">Go to
                        Email</button></a>

                <!-- <button class="forgotpass-btn" onclick="second_page()">Proceed to Next Step</button> -->
            </div>

            {% block forgetpassword%}
            {% endblock forgetpassword%}
            <!-- <div class="third-page">
                <label class="forgotpass-lbl">Enter New Password</label>
                <input class="forgotpass-inp" type="password" id="pass-inp" required>
                <label class="forgotpass-lbl">Confirm New Password</label>
                <input class="forgotpass-inp" type="password" id="pass-inp" required>
                <button class="forgotpass-btn">Reset</button>
            </div> -->
        </div>
    </div>
    <script src="{% static 'js/navbar.js' %}" async defer></script>
    <script src="{% static 'js/forgotpassword.js' %}" async defer></script>
</body>

</html>