<table>
    <thead>
        <tr>


            <th>name</th>
            <th>email</th>
            <th>phone</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td><a href="{% url 'client-edit-profile' customer.id%}"
          >Edit</a></td>

        </tr>
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <a href="/client/edit-profile/{{uxclient.id}}" type="submit" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div> -->
    </tbody>
</table>