{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        <div class="form">
            <div class="imgfield">
                <h2>Client Register</h2>
                <!------------ image on the left side --------------->
                <img src="{% static 'images/secure_login_pdn4 2.png' %}" alt="register image">
            </div>
            <form method="post">
                {%csrf_token%}
                <label class="lbl">Email</label>
                <input class="inp" name="email">
                <label class="lbl">Phone Number</label>
                <input class="inp" type="number" name="phone">
                <label class="lbl">Full Name</label>
                <input class="inp" name="name">
                <label class="lbl">Password</label>
                <input class="inp" type="password" name="password" required>
                <label class="lbl">Confirm Password</label>
                <input class="inp" type="password" name="cpassword">
                <button type="submit" name="register" value="Create account">Register Now</button>
                <!---------------- User Agreement ---------------->
                <agree>
                    <input type="checkbox" checked="checked">
                    By submitting, I agree to terms and conditions.
                </agree>
                <a href="#link">Already have an account? Login</a>
            </form>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>