<form method="post">
    {%csrf_token%}
    <label>Full name</label>
    <input type="text" name="name" required/>
    <br>
    <br>

    <label>Email</label>
    <input type="text" name="email" required/>
    <br>
    <br>

    <label>Phone</label>
    <input type="text" name="phone" required/>
    <br>
    <br>

    <label>Password</label>
    <input type="password" name="password" required/>
    <br>
    <br>

    <label>Confirm Password</label>
    <input type="password" name="cpassword" />
    <br>
    <br>

    <input type="submit" name="register" value="Create account"  />


   

</form>