{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        <div class="form">
            <div class="imgfield">
                <h2>Client Register</h2>
                <!------------ image on the left side --------------->
                <img src="{% static 'images/secure_login_pdn4 2.png' %}" alt="register image">
            </div>


            <form method="post">
                {%csrf_token%}
                <label class="lbl">Email</label>
                <input class="inp" type="email" name="email" placeholder="e.g. example@domain.com" required>
                <label class="lbl">Phone Number</label>
                <input class="inp" type="number" name="phone" required>
                <label class="lbl">Full Name</label>
                <input class="inp" type="text" name="name" placeholder="e.g. John Doe"
                    pattern="(^[A-Za-z]{3,16})([ ]{0,1})([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})"
                    required>
                <label class="lbl">Password</label>
                <input class="inp" type="password" name="password" placeholder="••••••••" required>
                <label class="lbl">Confirm Password</label>
                <input class="inp" type="password" name="cpassword" placeholder="••••••••" required>
                <button type="submit" id="submit_btn" name="register" value="Create account" disabled>Register
                    Now</button>
                <!---------------- User Agreement ---------------->
                <agree>
                    <input type="checkbox" id="terms_and_conditions" value="1" onclick="terms_changed(this)">
                    By submitting, I agree to terms and conditions.
                </agree>
                <a href="{% url 'client-login' %}">Already have an account? Login</a>
            </form>
        </div>
    </div>
    {% for message in messages%}
    {{message}}
    {%endfor%}

    <script src="{% static 'js/register.js' %}" async defer></script>
</body>

</html>