<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'sendfeedback' %}" method="POST">
        {%csrf_token%}
        
        <tr class="tbody">
            <td data-label="Campaign Name">{{form.feedback}}</td>
            <td data-label="Product Owner">{{form.client.name}}</td>
            <td data-label="Video by">{{form.tester.name}}</td>
        
           
            <!--       <td>Brian Miller</td> -->
        </tr>
      
</body>
</html>