{% extends 'client/clientdash.html' %}
{%load static%}


{%block videolink%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Prompt' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'css/clientdash.css' %}">
    <link rel="stylesheet" href="{% static 'css/download.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>


<div class="dash-content">
    <table class="content-item">
        <tr class="thead">
            <th>Campaign Name</th>
            <th>Product Owner</th>
            <th>Video by</th>
            <th>Go to Link</th>
            <th>Review</th>
            <!--       <th>Product Owner</th> -->
        </tr>
        {% for video in videos%}
        <tr class="tbody">
            <td data-label="Campaign Name">{{video.test.title}}</td>
            <td data-label="Product Owner">{{video.client.name}}</td>
            <td data-label="Video by">{{video.tester.name}}</td>
            <td data-label="Video Link">
                <a target="_blank" href="{{video.video_link}}" class="download"></a>
            </td>
            <td class="pop" data-label="Feedback">
                <a href="#popup2" class="feedback"></a>
            </td>
           
            <!--       <td>Brian Miller</td> -->
        </tr>
        {%endfor%}


    </table>
</div>
<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <h3>Click a link to go to the video</h3>
            <button class="link1"><a href="#">Link 1</a></button>
            <button class="link2"><a href="#">Link 2</a></button>
        </div>
    </div>
</div>

<div id="popup2" class="overlay feed">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <form method="post">
                {%csrf_token%}
                <!-- <div class="rate">
                    <div class="rate-drop">
                        <input id="radio1" type="radio" value="1" name="star"><label for="
                        radio1" class="firststar" onclick="teststarvalue()">
                            1
                        </label>
                        <input id="radio2" type="radio" value="2" name="star"><label for="
                    radio2" class="secondstar" onclick="teststarvalue()">
                            2
                        </label>
                        <input id="radio3" type="radio" value="3" name="star"><label for="
                    radio3" class="thirdstar" onclick="teststarvalue()">
                            <p>3</p>
                        </label>
                        <input id="radio4" type="radio" value="4" name="star"><label for="
                    radio4" class="fourthstar" onclick="teststarvalue()">
                            <p>4</p>
                        </label>
                        <input id="radio5" type="radio" value="5" name="star"><label for="
                    radio5" class="fifthstar" onclick="teststarvalue2()">
                            <p>5</p>
                        </label>
                    </div>
                </div> -->
                <h3>Rate</h3>
                <select name="rating" id="ratedrop" required>
                    <option value="">Select a Star</option>
                    <option class="firststar" value="1" onclick="teststarvalue()">1 &#11088;</option>
                    <option class="secondstar" value="2">2 &#11088;&#11088;</option>
                    <option class="thirdstar" value="3">3 &#11088;&#11088;&#11088;</option>
                    <option class="fourthstar" value="4">4 &#11088;&#11088;&#11088;&#11088;</option>
                    <option class="fifthstar" value="5">5 &#11088;&#11088;&#11088;&#11088;&#11088;</option>
                </select>
                <h3>Feedback</h3>
                <textarea class="comment" cols="40" rows="8" charswidth="23"
                    placeholder="Enter your feedback here"></textarea>
                <button class="feedbtn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>


{% for message in messages %}
<script>
    var url = 'client/login/'
    alert('{{message}}')
    if ('{{message}}' == 'Wrong Credentials. Please try again') {
        window.location.href = "{%url 'client-login'%}"

    }



</script>
{% endfor %}


{%endblock videolink%}