{% extends 'client/clientdash.html' %}
{%load static%}


{%block videolink%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Prompt' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'css/clientdash.css' %}">
    <link rel="stylesheet" href="{% static 'css/download.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>


<div class="dash-content">
    <table class="content-item">
        <tr class="thead">
            <th>Campaign Name</th>
            <th>Product Owner</th>
            <th>Video by</th>
            <th>go to Link</th>
            <!--       <th>Product Owner</th> -->
        </tr>
        {% for video in videos%}
        <tr class="tbody">
            <td data-label="Campaign Name">{{video.test.title}}</td>
            <td data-label="Product Owner">{{video.client.name}}</td>
            <td data-label="Video by">{{video.tester.name}}</td>
            <td data-label="Video Link">
                <a href="{{video.video_link}}" class="download"></a>
            </td>
            <!--       <td>Brian Miller</td> -->
        </tr>
        {%endfor%}
       

    </table>
</div>
<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <h3>Click a link to go to the video</h3>
            <button class="link1"><a href="#">Link 1</a></button>
            <button class="link2"><a href="#">Link 2</a></button>
        </div>
    </div>
</div>

{% for message in messages %}
		<script>
			var url = 'client/login/'
			alert('{{message}}')
			if ('{{message}}' == 'Wrong Credentials. Please try again') {
				window.location.href = "{%url 'client-login'%}"

			}
			


		</script>
		{% endfor %}


{%endblock videolink%}