{% extends 'adminpage/admindash.html' %}

{% load static %}

{% block adminblock%}
<div class="dash-content">
    <table class="content-item">
        <tr class="thead">
            <th>Client Name</th>
            <th>Email</th>
            <th>Phone no.</th>
            <!-- <th>Tests Created</th> -->
            <th>Manage</th>
        </tr>
        {% for user in users%}
        <tr class="tbody">

            <td data-label="Client Name">{{user.name}}</td>
            <td data-label="Email">{{user.email}}</td>
            <td data-label="Phone no.">{{user.phone}}</td>
            <!-- <td data-label="Tests Created">5</td> -->

            <td> <a href="#popup1_{{user.id}}" class="managetester">Delete</a> </td>

        </tr>
        {% endfor %}

    </table>
</div>
<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <h3>Are you sure you want to delete John Doe from the database?</h3>
            <button class="link1 confirm"><a href="#">Confirm</a></button>
            <button class="link2 cancel"><a href="#">Cancel</a></button>
        </div>
    </div>
</div>

<script>
    (".managetester").click(function () {
        var id = $(this).attr("id").split("_")[1]

        $('#popup1_${id}').show();
    })


</script>
{% endblock adminblock%}