{% extends 'adminpage/admindash.html' %}

{% load static%}

{% block adminblock %}
<div class="dash-content">
    <table class="content-item">
        <tr class="thead">
            <th>Campaign Name</th>
            <th>Owner</th>
            <!-- <th>Tests Created</th> -->
            <th>Manage</th>
        </tr>
        {% for test in tests%}


        <tr class="tbody">

            <td data-label="Campaign Name"><a href="#test_{{test.id}}" class="testdetail">{{test.title}}</a></td>
            <td data-label="Owner">{{test.created_by.name}}</td>
            <!-- <td data-label="Tests Created">5</td> -->
            {% if test.isApproved %}
            <td>Approved</td>

            {%else%}
            <td> <a href="#approve_{{test.id}}" class="approvetest"><button>Approve</button></a> </td>
            {%endif%}

            <td> <a href="#popup1_{{test.id}}" class="managetester"><button>Delete</button></a> </td>

        </tr>

        <div id="popup1_{{test.id}}" class="overlay delete" data-target="gotoLink">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <h3>Are you sure you want to delete {{test.title}} from the database?</h3>
                    <button class="link1 confirm"><a href="#">Confirm</a></button>
                    <button class="link2 cancel"><a href="#">Cancel</a></button>
                </div>
            </div>
        </div>

        <div id="approve_{{test.id}}" class="overlay approve" data-target="gotoLink">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <h3>Are you sure you want to approve this test?</h3>
                    <form action="{% url 'approvetest' test.id%}" method="post">
                        {% csrf_token %}
                        <button class="link1 approve" type="submit">Approve </button>
                    </form>

                    <button class="link2 cancel"><a href="#">Cancel</a></button>
                </div>
            </div>
        </div>

        <div id="test_{{test.id}}" class="overlay" data-target="gotoLink">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <h3>Test details</h3>
                    Name: {{test.title}}
                    <br>
                    Mention Tasks:
                    {{test.mention_tasks}}
                    <br>
                    Requirements:
                    {{test.additional_guidelines}}
                    <br>
                    Additional Guidelines:
                    {{test.additional_guidelines}}



                    <button class="link2 cancel"><a href="#">Cancel</a></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>
<script>
    (".managetester").click(function () {
        var id = $(this).attr("id").split("_")[1]

        $('#popup1_${id}').show();
    })

        (".approvetest").click(function () {
            var id = $(this).attr("id").split("_")[1]

            $('#approve_${id}').show();
        })

        (".testdetail").click(function () {
            var id = $(this).attr("id").split("_")[1]

            $('#test_${id}').show();
        })


</script>

{% endblock adminblock %}