<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="" style="background-color: azure;">
          <div class="panel-heading">
            <h6 class="panel-title">Total Customer List</h6>
          </div>
          <table class="table table-hover" id="dev-table">
            <thead>
                <tr style="background-color: paleturquoise;">
                    <th>User</th>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>password</th>
                   
                </tr>
            </thead>
            {% for c in users%}
            <tr style ="background-color: aliceblue"></tr>
            <td>{{c.username}}</td>
            <td>{{c.email}}</td>
        
    </table>
    {% endfor %}
   
    </div>
</body>
</html>