<html>

<head>
    <title>Email Verified | TestMyUX</title>
    <link rel="stylesheet" href="/static/css/EmailVerified.css">
</head>

<body>
    <img src="/static/images/TestMyUX_Transparent.png" height="auto" width="200px" alt="" class="logo">
    <h1 class="h1" style="color: #512CD2;">🎉 Congratulations! Your Email has been Verified.</h1>
    <p1>Thank You for verifying your Email Address. Now, you can click on the "Login" button below.</p1>
    <br>
    <br>

    <div class="button">
        <a style= "color: white"; class="loginbutton" href="#">Login</a>
    </div>

</body>
</html>