{% extends 'client/clientforgotpassword.html' %}

<!-- <form method="post">
    {%csrf_token%}
    <label>New pass</label>
    <br>
    <input type="password" name="newpassword" />
    <label>cpass</label>
    <br>
    <input type="password" name="confirmpassword" />
    <input type="submit" />

</form> -->
{% load static %}
{% block forgetpassword%}
<div class="third-page" style="display:flex;">
    <form method="post">
        {%csrf_token%}
        <label class="forgotpass-lbl">Enter New Password</label>
        <input class="forgotpass-inp" type="password" name="newpassword" id="pass-inp" required>
        <label class="forgotpass-lbl">Confirm New Password</label>
        <input class="forgotpass-inp" type="password" id="pass-inp" name="confirmpassword" required>
        <button class="forgotpass-btn">Reset</button>
    </form>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% for message in messages %}

<script>
    swal('{{message}}')


</script>
{% endfor %}
{% endblock forgetpassword%}