<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <p> Update profile details</p>
         <label for="name"> Username</label>
         <input id="name" value="{{ user.name }}" name="name">
         <label for="email"> Email</label>
         <input id="email" value="{{ user.email }}" name="email">
         <label for="phone"> Phone</label>
         <input id="phone" value="{{ user.phone }}" name="phone">
         <label for="password"> Password</label>
         <input id="password" value="{{ user.password }}" name="password" type="password">

        <button type="submit" >Update</button> 

        </form>
    </div>
</body>
</html>