{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  {% comment %}  <form method="GET" enctype="multipart/form-data">
    {% csrf_token %} {% endcomment %}
  
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
        </tr>
      </thead>
      <tbody>
        
    
        <tr>
          <td>{{ user.name }}</td>
          
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td><a href="{% url 'deletetester' user.id  %}"> Delete</span></a></td>
        </tr>

        
      </tbody>
    </table>
    Hello! 
 
    

    <a href="/editprofile/{{ user.id }}" type="button" > Edit my Profile</a>
    

  </form>
</body>
</html>


{% endblock %}