


<div class="reset-container reset-container" style="
        background: antiquewhite;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: relative;
        overflow: hidden;
        width: 568px;
        max-width: 100%;
        min-height: 400px;
        margin-top: 270px;
        margin-bottom: 200px;
        left: 30%;">
            
            <h3 style="text-align: center; font-family: 'Cairo', sans-serif; margin-top: 100px;">Password reset sent</h3>
            <br>
            <br>
            <p style="text-align: center; font-family: 'Cairo', sans-serif;">We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.</p>
            <p style="text-align: center; font-family: 'Cairo', sans-serif;">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam 
                folder.</p>
                <br>
                <br>
                <br>

            
               <br>
            <a href="https://gmail.com" 
            style="border: 1px solid #242323;
            background: #242323;
            color: #fff;
            font-family: 'Cairo', sans-serif;
            font-size: 15px;
            font-weight: bold;
            padding: 12px 50px;
            margin: 90px 150px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;">
            Go To Gmail</a>
</div>

