
<form method="POST">
    {% csrf_token %}
    <div class="change-container change-container" 
    style="
    background: antiquewhite;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 568px;
    max-width: 100%;
    min-height: 280px;
    margin-top: 270px;
    margin-bottom: 200px;
    left: 35%;">
            <h1 style="text-align: center; font-family: 'Cairo', sans-serif;">Enter new Password</h1>
            <p  style="text-align: center; font-family: 'Cairo', sans-serif;">Please enter your new password twice so we can verify you typed it in correctly.</p>
            <input  type="password" placeholder="New Password" required name="new_password1"  
            style="background:  #eee;
            border: none;
            padding: 15px 15px;
            margin: 8px 150px;
            width: 50%;
            " />
            <input type="password" placeholder="Confirm New Password" required name="new_password2" 
            style="background: #eee;
            border: none;
            padding: 15px 15px;
            margin: 8px 150px;
            width: 50%;" />

            
            <input type="Submit"
            style="border: 1px solid #242323;
            background:pink;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 50px;
            margin: 20px 200px;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            transition: transform 80ms ease-in;" name="Change Password"> 
    </div>
</form>
