
<div class="reset-container reset-container" style="
        background:antiquewhite;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: relative;
        overflow: hidden;
        width: 568px;
        max-width: 100%;
        min-height: 400px;
        margin-top: 270px;
        margin-bottom: 200px;
        left: 30%;">
            
            <h3 style="text-align: center; font-family: 'Cairo', sans-serif; margin-top: 100px;">Password reset complete</h3>
            <p style="text-align: center; font-family: 'Cairo', sans-serif;">Your password has been set. You may go ahead and login now.</p>
            

            <a href="{% url 'tlogin' %}" 
            style="border: 1px solid #242323;
            background: antiquewhite;
            color: pink;
            font-family: 'Cairo', sans-serif;
            font-size: 15px;
            font-weight: bold;
            position: relative;
            top: 5rem;
            padding-top: 5rem;
            padding: 12px 50px;
            margin: 90px 150px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;">
            Back To Log In</a>

