{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/download.css'%}">
    <link rel="stylesheet" href="{% static 'css/adminclient.css'%}">
    <link rel="stylesheet" href="{% static 'css/Homepage.css'%}">
    
   
    
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="http://fonts.cdnfonts.com/css/samsung-sharp-sans" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Profile</title>


</head>

<!-- <button type="button" class="edit" data-toggle="modal" data-target="#exampleModal">
    Delete
</button> -->



<body>
    <header>
        <nav class="navbar">
            <div class="brand-title" href="#"><img src="{% static 'images/logo.png' %}" width="150" alt="logo"></div>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a class="navbar-items" href="{% url 'homepage' %}">Home</a></li>
                    <li><a class="navbar-items" href="{% url 'contactus' %}">About Us</a></li>
                    <li><a class="navbar-items" href="{% url 'aboutus' %}">Contact Us</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a class="navbar-items" href="{%url 'gotodashboard' %}">Go to Dashboard</a></li>
                    {%else%}
                    <li><a class="navbar-items" href="{%url 'client-login' %}">Login</a></li>
                    <li><a class="register" href="{%url 'tlogin' %}">Get Paid to Test</a></li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </header>
 
    <div class="wrapper">
        <div class="profilebox">
            <button class="edit"><i class="far fa-edit"></i><a
                    href="{/editprofile/{{ user.id }}">Edit</a></button>

            <button type="button" class="edit delete" >
                <a href="#delete_{{user.id}}" type="button" class="deletelink" data-target="gotoLink">
                    Delete
                </a>
            </button>

            

            <a href="{%url 'client-profile' %}"> <img class="profilepic" img src="{% static 'images/profilepic.jpg' %}" alt="profile_image"></img></a>

            <h2 class="name">{{user.name}}</h2>
            <h4 class="contact">Contact info: <span class="number">{{user.phone}}</span></h4>
            
            {% if user.is_email_verified%}
            <h4 class="contact">Email: <span class="number">{{user.email}} <h6> Verified</h6></span></h4>
            {%else%}
            <h4 class="contact">Email: <span class="number">{{user.email}} <h6> (Not Verified)</h6></span></h4>
            {%endif%}
        </div>

     

        <div id="delete_{{customer.id}}" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <h3>Are you sure you want to Delete your account?</h3>

                    <a  class="link1 confirm" href="deletetester/{{user.id}}">Delete</a>
                   
                    <button class="link2 cancel"><a href="#">Cancel</a></button>
                </div>
            </div>
        </div>



        <div class="wrapper-two">

            <div class="about">
                <h2 class="topic">ABOUT ME</h2>
                <p class="aboutdes">
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Ex illum ipsum iusto consequatur. Totam, dolorum fugiat,
                    debitis facere illo nostrum nesciunt maxime, deserunt enim
                    voluptatibus modi natus velit voluptatum. Dicta eritatis
                    exercitationem ut quos a placeat obcaecati? Architecto illum!
                    Amet consectetur adipisicing elit. Veritatis exercitationem ut
                    quos a placeat obcaecati? Architecto illum, atque delectus nemo
                    dolorem inventore ab facilis? Dolor placeat vel delectus ipsam
                    ullam.
                </p>
            </div>



            <div class="dash-content">
                <h2 class="producttop">MY PRODUCTS</h2>
                <table class="content-item">
                    <tr >
                        <td  data-label="campaign">Campaign Name</td>
                        <td data-label="videolink">Video Link</td>
                        <td data-label="owner">Test Owner</td>
                        
                        <td data-label="payment">Payment received</td>
                        <td data-label="feedback">Feedback</td>
                        
                    </tr>
                    {% for video in videos%}
                    <tr class="tbody">
                        <td data-label="campaign">{{video.test.title}}</td>
                        <td data-label="videolink">{{video.video_link}}</td>
                        <td data-label="owner">{{video.client.name}}</td>
                        
                        <td data-label="payment">{{video.paymentreceived}}</td>
                        <td data-label="feedback">{{video.feedback}}</td>

                    </tr>
                   {% endfor %}
                    
                </table>
            </div>
        </div>

    </div>

    {% if message in messages%}

    {{message}}
    {% endif%}

    <script>
       (".deletelink").click(function () {
        var id = $(this).attr("id").split("_")[1]

        $('#delete_${id}').show();
    })

    </script>


</body>

</html>