{% extends 'Tester/testerdash.html' %}
{% load static %}


{% block uploadvideo%}
<div>
    <link rel="stylesheet" href="{% static 'css/uploadvideo.css' %}">
</div>

<div class="formC">

    <form method="post">
        <label>Campaign Name:</label>
        <input type="text" />
        <label>Video Link:</label>
        <input type="text" name="video_link" />
        <label>Video Link 2 (Optional):</label>
        <input type="text" />

    </form>
    <div class="bottom">
        <div>
            <a class="buttons">Upload</a>

            <div class="space"></div>

            <a class="buttons">Cancel</a>

        </div>
    </div>


</div>
{% endblock uploadvideo%}